root = true

[src/Tedd.AIOptimizeSql.WebUI/**/*.cs]
# Unmapped target property error (Mapperly)
dotnet_diagnostic.RMG012.severity = error
# Unmapped source property error (Mapperly)
dotnet_diagnostic.RMG020.severity = error
